@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300i,400,700,900&display=swap');

body {

    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    color: #00215B;
}

a {
    color: #00215B;
}

.hero-section {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center right;
    background-size: contain;
    margin-top: 40px;
}

header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.header-left {
    width: 20%;
    float: left;
}

.header-right {
    width: 80%;
    float: right;
}

.main-menu ul {
    text-align: right;
    margin: 0px;

}

.main-menu ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    transition-duration: .4s;
}

.main-menu ul li:hover {
    background-color: #03A5BE;

}

.main-menu ul li:hover a {
    color: white;
}

.main-menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.main-menu .button a {
    color: white;
}

.main-menu .button:hover a {
    color: #00215B;
}

.main-menu .button:hover {
    background-color: #C3EAF5;
    color: #00215B;
}


.logo {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;

}

.logo:hover {
    color: #F9B253;
}

.button {
    background-color: #03A5BE;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.button:hover {
    background-color: #C3EAF5;
    color: #00215B;

}

.header-bottom-left {
    width: 50%;
    position: absolute;
    top: 35%;
    left: 5%;
}

.header-bottom-left h1 {
    font-size: 40px;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}

.header-bottom-left p {
    padding: 20px 0;
    color: #000000;
    text-align: justify;
}

.header-bottom-left .button {
    transition: .3s;
}